@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

/* @import url('http://fonts.cdnfonts.com/css/hezaedrus'); */
@import url('http://fonts.cdnfonts.com/css/lcr-autumn-harvest-dings');
@import url('http://fonts.cdnfonts.com/css/ethons-styles');

:root {
    --header-height: 3rem;
    /*========== COLORS ==========*/
    --hue-color: 195;
    --first-color: #0ca9de;
    --article-title: #363978;
    --home-title-color: #45423C;
    --title-color: #292523;
    --text-color: #7c706a;
    --text-color-light: #ada39f;
    --icon-social-color: var(--first-color);
    --body-color: #fefcfb;
    --white-color: white;
    --black-color: black;
    /*========== FONT & TYPORGRAPHY ==========*/
    --body-font: 'Poppins', sans-serif;
    /* --second-font: 'Imperial Script', cursive; */
    /* --body-font: 'Hezaedrus', sans-serif; */

    --second-font: 'Hezaedrus', sans-serif;
    /* --second-font: 'LCR Autumn Harvest Dings', sans-serif; */
    --third-font: 'Ethons Styles', sans-serif;

    --biggest-font-size: 4rem;
    --bigger-font-size: 3rem;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== FONT WEIGHT ==========*/
    --font-500: 500;
    --font-600: 600;
    --font-700: 700;
    --font-800: 800;
    /*========== MARGINS ==========*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    /*========== Z INDEX ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* Date range items gap */
    --date-gap: 0.1em;

    /* Width of article logo */
    --article-logo-img-width: 4em;

    /* Skill rating bar height */
    --skill-rating-height: .5em;

    /* Skill container border color */
    --skill-rating-border-radius: 5em;
    /*  Secondary color  */
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
}

/*========== FONT SIZE FOR LARGER SCREENS ==========*/
@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 5rem;
        --bigger-font-size: 4rem;
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== BASE ==========*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-color);
    font-size: var(--normal-font-size);
    color: var(--black-color);
    font-family: var(--body-font);
    overflow-x: hidden;
}

::-moz-selection {
    background: var(--first-color);
    color: white;
}

::selection {
    background: var(--first-color);
    color: white;
}

h1, h2, h3, ul, p {
    margin: 0;
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-600);
}

h4 {
    font-weight: var(--font-600);
    font-size: var(--h1-font-size);
    color: var(--text-color-light);
    margin: var(--mb-1-5) 0 0;
}

ul {
    padding: 0;
}

li {
    margin-left: 2rem;
    list-style: circle;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*========== CLASS CSS ==========*/
section {
    padding: 2rem 0 4rem;
}

header {
    position: relative;
    font-size: var(--h1-font-size);
    font-family: var(--second-font);
    color: var(--article-title);
    color: var(--first-color);
    font-style: italic;
    /* text-transform: uppercase; */
    margin-bottom: var(--mb-2);
}

.article-header {
    margin-top: var(--mb-0-5);
}

.right header {
    margin-left: var(--mb-1);
}

article {
    position: relative;
}

.basics .article-container {
    margin-left: 0;
}

.right .article-container {
    margin-top: var(--mb-0-5);
}

.right .section__title {
    margin-left: .8rem;
}

.article__title {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: var(--font-600);
    font-size: var(--h2-font-size);
}

.article__subtitle {
    font-weight: var(--font-500);
    font-size: var(--h3-font-size);
    color: var(--home-title-color);
}

.article__url,
.article__url a {
    color: var(--first-color);
}

.article__description {
    margin-top: var(--mb-1);
}

.article__label {
    color: var(--first-color);
}

.article__date .date {
    display: flex;
    align-items: center;
    column-gap: var(--date-gap);
}

.article__date .duration {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    -webkit-print-color-adjust: exact;
    text-align: center;
    font-size: var(--small-font-size);
    border-radius: 0.3em;
}

.article__date .article__date-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.article__img {
    width: var(--article-logo-img-width);
}

.article-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--mb-1);
}

.article__list.skills ul {
    display: initial;
    margin-top: .2rem;
}

.article__list.skills li {
    list-style: none;
    display: inline;
}

/* SKILLS */
.article__list.skills li:not(:empty, :last-child):after {
    content: ", ";
}

.skills .article-container,
.languages .article-container,
.interests .article-container {
    gap: 1rem;
}

.skills .article-content {
    gap: .5rem;
}

.s-c {
    margin-top: .75rem;
    gap: .75rem;
}

.skills__progress {
    gap: .25rem !important;
}

.article__skills-title {
    font-weight: var(--font-500);
}

.skill-rating {
    -webkit-print-color-adjust: exact;
    height: var(--skill-rating-height);
    background: hsl(var(--hue-color), 100%, 87%);

    overflow: hidden;
    border-radius: var(--skill-rating-border-radius);
    -moz-border-radius: var(--skill-rating-border-radius);
    -webkit-border-radius: var(--skill-rating-border-radius);
    -ms-border-radius: var(--skill-rating-border-radius);
    -o-border-radius: var(--skill-rating-border-radius);
}

.skill-rating>div {
    height: 100%;
    background-color: var(--first-color-second);
    border-radius: var(--skill-rating-border-radius);
    -webkit-border-radius: var(--skill-rating-border-radius);
    -moz-border-radius: var(--skill-rating-border-radius);
    -ms-border-radius: var(--skill-rating-border-radius);
    -o-border-radius: var(--skill-rating-border-radius);
}

/*========== LAYOUT ==========*/
.grid {
    display: -ms-grid;
    display: grid;
    gap: var(--mb-3);
}

.s-grid {
    display: -ms-grid;
    display: grid;
    gap: var(--mb-0-5);
}

.a-grid {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    color: var(--first-color-lighter-dark);
    gap: var(--mb-1);
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: var(--mb-0-75);
    -moz-column-gap: var(--mb-0-75);
    column-gap: var(--mb-0-75);
}

.flex a {
    color: var(--first-color);
}

.container {
    /* max-width: 968px; */
    max-width: 1024px;
    /* width: calc(100% - 3rem); */
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
}

.main {
    padding: var(--mb-1);
}

.wrapper {
    margin: var(--mb-1-5) 0;
}

.hide {
    display: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/*========== HOME SECTION ==========*/
.basics {
    text-align: center;
}

.home__img {
    border-radius: .5rem;
    margin: auto;
    display: block;
}

.home__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-800);
    font-family: var(--third-font);
    line-height: 1.2;
    margin-top: var(--mb-1);
    color: #131c25;
}

.home__subtitle {
    font-weight: 600;
    font-size: var(--h3-font-size);
    line-height: 1;
    margin-top: var(--mb-0-5);
}

.home__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.home__description {
    margin-top: var(--mb-1);
}

/*======================================== PROFILES ========================================*/
.profiles .article-container {
    flex-direction: row;
    display: flex;
    gap: var(--profiles-icon-gap);
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: center;
  }
  
  .profiles .icon {
    font-size: 1.5em;
    color: var(--first-color-lighter);
  }

/*========== REFERENCCE ==========*/
.references .references__container {
    margin-left: 2rem;
}

.references .references__description {
    margin-top: var(--mb-0-5);
    position: relative;
}

/* 
.references .references__description::before {
    content: open-quote;
    top: -2rem;
    left: -1rem;
}

.references .references__description::after {
    content: close-quote;
    bottom: -4rem;
    right: 0;
}

.references .references__description::before,
.references .references__description::after {
    position: absolute;
    display: inline;
    font-size: 4.5rem;
    font-family: sans-serif;
    font-style: italic;
    color: var(--text-color-light);
    padding: 0;
} */


.references .references__description::before,
.references .references__description::after {
    -webkit-filter: opacity(0.5) drop-shadow(0 0 0 rgba(0, 0, 0, .01));
    filter: opacity(0.5) drop-shadow(0 0 0 rgba(0, 0, 0, .01));
}

.references .references__description::before {
    content: '';
    background: url(https://www.pngall.com/wp-content/uploads/4/Quotation-Symbol-PNG.png);
    position: absolute;
    /* top: -218px;
    left: -511px; */
    top: -13.5rem;
    left: -32rem;
    -webkit-transform: scale(.05);
    -ms-transform: scale(.05);
    transform: scale(.05);
    width: 1000px;
    height: 429px;
}

.references .references__description::after {
    content: '';
    background: url(https://www.pngall.com/wp-content/uploads/4/Quotation-Symbol-PNG.png);
    position: absolute;
    /* bottom: -220px; */
    bottom: -13rem;
    right: -477px;
    -webkit-transform: scale(.05) scaleX(-1) scaleY(-1);
    -ms-transform: scale(.05) scaleX(-1) scaleY(-1);
    transform: scale(.05) scaleX(-1) scaleY(-1);
    width: 1000px;
    height: 429px;
}


/*========== ICONS ==========*/
.icon {
    font-style: normal;
    margin-right: 0;
    width: 0.6em;
    color: var(--icon-color);
}

.icon.twitter:before {
    content: "\f099";
}

.icon.github:before {
    content: "\f09b";
}

.icon.facebook:before {
    content: "\f39e";
}

.icon.instagram:before {
    content: "\f16d";
}

.icon.xing:before {
    content: "\f168";
}

.icon.behance:before {
    content: "\f39e";
}

.icon.dribbble:before {
    content: "\f17d";
}

.icon.medium:before {
    content: "\f23a";
}

.icon.linkedin:before {
    content: "\f08c";
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}

/* SCROLLBAR THUMB */
::-webkit-scrollbar-thumb {
    background: hsl(var(--hue-color), 51%, 28%);
    border-radius: 10px;
}

/* SCROLLBAR TRACK */
::-webkit-scrollbar-track {
    background: transparent;
}

/* SCROLLBAR THUMB : HOVER */
::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--hue-color), 41%, 38%);
}

/* TOGGLE VISIBILITY */
.basics header {
    display: none;
}

/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 568px) {
    .right .article-container {
        margin-left: var(--mb-2-5);
    }

    .right .section {
        border-top: 1px dashed #e6e6e6;
        border-left: 1px dashed #e6e6e6;
    }

    .right .article__date {
        position: absolute;
        top: -1.2rem;
        left: -1.6rem;
        list-style: square;
        display: list-item;
        color: var(--text-color);
        font-size: var(--small-font-size);
    }

    .right .article__date::marker {
        color: var(--title-color);
    }

    .article__date .article__date-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .article-header-wrapper {
        margin-top: var(--mb-1-5);
    }
}

@media screen and (min-width: 768px) {
    .main-wrapper,
    .basics {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: .7fr 5rem 1fr;
        grid-template-columns: .7fr 1fr;
        -webkit-column-gap: 5rem;
        -moz-column-gap: 5rem;
        column-gap: 5rem;
    }

    .home__img {
        width: 300px;
    }

    .home__wrapper {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .home__title,
    .home__subtitle,
    .home__description {
        text-align: initial;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
    }
}

@media print {
    .main {
        background-image: none;
    }
    
    .basics,
    .main-wrapper {
        grid-template-columns: none;
        max-width: none;
        margin: 0;
        column-gap: 0;
    }

    .profiles,
    .basics {
        display: none;
        user-select: none;
    }

    .pagedjs_margin {
        font-size: var(--print-margin-font-size);
    }

    /* main margin boxes */
    .footer-print {
        position: running(footerRunning);
    }

    .user-compact-print {
        position: running(userCompactRunning);
    }

    .last-update-print {
        position: running(lastUpdateRunning);
    }

    .available-from-print {
        position: running(availableFromRunning);
    }

    @page {
        size: A4;

        @top-right {
            content: element(lastUpdateRunning);
        }

        @top-left {
            content: element(userCompactRunning);
        }

        @bottom-right {
            content: counter(page);
        }

        @bottom-left {
            content: element(footerRunning);
            width: 40mm;
        }

        @bottom-center {
            content: element(availableFromRunning);
        }
    }

    /* table of contents */
    @page table-of-contents {
        @top-right {
            content: none;
        }

        @top-left {
            content: none;
        }

        @bottom-right {
            content: none;
        }

        @bottom-left {
            content: none;
        }
    }

    .table-of-contents {
        page: table-of-contents;
    }

    .toc-header {
        margin-bottom: 1rem;
        border-bottom: 0.375rem solid black;
    }

    ol, ul {
        padding-inline-start: 0;
    }

    ol, ul a {
        text-decoration: none;
    }

    .toc-element-level-1 {
        font-size: 0.5cm;
    }

    .toc-element-level-2 {
        font-size: 0.4cm;
    }

    .toc-element-level-1 a, .toc-element-level-2 a {
        color: black;
    }

    #list-toc-generated li {
        margin-left: 0;
        width: 100%;
        list-style-type: none;
    }

    #list-toc-generated .toc-element a::after {
        content: target-counter(attr(href), page);
    }

    #list-toc-generated .toc-element-level-1 {
        border-bottom: 0.0625rem solid black;
        margin-top: 2rem;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
        font-weight: bold;
    }

    #list-toc-generated {
        overflow-x: hidden;
    }

    #list-toc-generated .toc-element a {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    #list-toc-generated .toc-element a::after {
        background-color: white;
    }

    .page-break {
        break-after: page;
    }

    /* cover */
    @page: first {

        @top-right {
            content: none;
        }

        @top-left {
            content: none;
        }

        @bottom-right {
            content: none;
        }

        @bottom-left {
            content: none;
        }
    }

    .cover-page .main-skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4mm;
    }

    .cover-page .main-skills ul {
        display: flex;
        flex-direction: row;
        gap: 0.5cm;
        margin: 0;
        padding: 0;
    }

    .cover-page .main-skills .list__label {
        font-size: var(--big-font-size);
        text-align: center;
        font-weight: var(--font-600);
    }

    .cover-page .main-skills li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: var(--normal-font-size);
    }

    .cover-page {
        page: cover-page;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        gap: 2cm;
        font-family: var(--second-font);
    }

    .cover-page__main-skills {
        display: flex;
        flex-direction: row;
    }

    .cover-page h1 {
        font-size: var(--biggest-font-size);
        font-family: var(--body-font);
    }

    .cover-page h3 {
        margin: -.75rem 0 .5rem;
        font-weight: var(--font-500);
    }

    .cover-page .cover-page__contact {
        font-size: var(--normal-font-size);
    }

    .cover-page h1,
    .cover-page h3,
    .cover-page p,
    .cover-page .article__list,
    .cover-page .cover-page__contact,
    .cover-page .article__url,
    .cover-page__social .icon {
        -webkit-print-color-adjust: exact;
        color: black !important;
    }

    .cover-page .picture {
        text-align: center;
    }

    .cover-page__header {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 3mm;
        margin-top: 6rem;
    }

    .cover-page__header .picture img {
        width: 10cm;
        height: auto;
        border-radius: 50%;
    }

    .cover-page__contact {
        font-size: 10pt;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.7cm;
        margin-top: 1rem;
    }

    .cover-page__social {
        display: flex;
        flex-direction: row;
        gap: 2em;
    }

    .cover-page__social .icon {
        font-size: 16pt;
    }

    .cover-page__header .summary {
        text-align: center;
        margin-top: 0.5em;
    }

    /* availability */
    .available-from-print .icon {
        margin-top: 1.5mm;
        margin-left: 1.5mm;
        font-size: 2mm;
        position: absolute;
    }

    .available-from-print.now-available-yes i {
        color: green;
    }

    .available-from-print.now-available-no i {
        color: red;
    }
}

.INTERACTIVE .nav-add {
    margin-top: 1em;
    margin-bottom: 2em;
}

.INTERACTIVE .profiles article {
    padding: 2em 0;
}

.INTERACTIVE .profiles .article-container {
    display: flex;
    flex-direction: column;
}

html:not(.INTERACTIVE) .profiles article .profile-item {
    display: inline-block;
}